<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cloud.daemon.biz.mapper.DaemonMapper">

    <select id="listPage" resultType="com.github.cloud.daemon.biz.domain.vo.QuartzVO">
        SELECT job.job_name AS jobName,
        job.job_group AS jobGroup,
        job.description AS description,
        job.job_class_name AS jobClassName,
        cron.cron_expression AS cronExpression,
        tri.trigger_name AS triggerName,
        tri.trigger_state AS triggerState
        FROM qrtz_job_details AS job
        LEFT JOIN qrtz_triggers AS tri ON job.job_name = tri.job_name
        LEFT JOIN qrtz_cron_triggers AS cron ON cron.trigger_name = tri.trigger_name
        WHERE tri.trigger_type = 'CRON'
        <if test="pm.jobName != null and pm.JobName != ''">
            AND job.job_name = #{pm.jobName, jdbcType = VARCHAR}
        </if>
        <if test="pm.jobGroup != null and pm.jobGroup != ''">
            AND job.job_group = #{pm.jobGroup, jdbcType = VARCHAR}
        </if>
        <if test="pm.triggerState != null and pm.triggerState != ''">
            AND tri.trigger_state = #{pm.triggerState, jdbcType = VARCHAR}
        </if>
    </select>
</mapper>