<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cloud.upms.biz.mapper.UserMapper">

    <!-- 查询用户角色 -->
    <select id="listUserRole" resultType="com.github.cloud.upms.biz.entity.SysRoleDO">
        SELECT a.id, a.role_name roleName, a.role_code roleCode
        FROM sys_role a
                 INNER JOIN sys_user_role b ON a.id = b.role_id
        WHERE b.user_id = #{userId}
          AND a.active = 1
    </select>

    <!-- 查询用户权限 -->
    <select id="listUserPermissions" resultType="java.lang.String">
        SELECT a.permissions
        FROM sys_menu a
                 INNER JOIN sys_role_menu b ON a.id = b.menu_id
                 INNER JOIN sys_user_role c ON b.role_id = c.role_id
        WHERE c.user_id = #{userId}
          AND a.permissions IS NOT NULL
          AND a.permissions != ''
          AND c.user_id = 1
          AND a.active = 1
    </select>

</mapper>